body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: url(images/background-1.jpg) no-repeat center center fixed; 
    background-size: cover;
}

.header {
    margin-top: 500px;
    display: flex;
    background-color: rgb(89, 149, 218);
    height: 50px;
    align-items: center;
    font-size: 18px;
    font-family: "Brush Script MT", serif;
    justify-content: space-between;
}

/* .header img {
    height: 30px;
} */

.header-left {
    display: flex;
    flex: 1;
}

.header p {
    display: flex;
    flex: 1;
    font-family: "Brush Script MT", serif;
    font-style: italic;
    font-weight: 500;
    color: white;
    font-size: 25px;
    justify-content: center;
}

.header-right {
    display: flex;
    flex: 1;
}

.header a {
    display: flex;
    flex: 1;
    color: white;
    padding: 10px;
    justify-content: center;
}

.main-container {
    display: flex;
    background-image: images/ba;
    height: 800px;
    width: auto;
    align-self: center;
}


.center-column {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;    
    flex: auto;
}

.center-column img {
    width: 200px;
}



.left-column {
    background-color: rgb(35, 54, 70);
}

.center-column {
    background-color: rgb(243, 243, 244);
    flex: 6;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(89, 149, 218);
    text-align: center;
    margin-top: 100px;
}

footer p {
    padding: 5px;
    color: white;
}